.footer{
  background-color: darkblue;
  color: white;
  padding: 1rem 4rem;
  text-align: center;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1.5fr; 
  grid-template-rows: 1fr; 
  gap: 15px 15px; 
  grid-template-areas: 
    "area1 index jovd signup"; 
}
.footer a:visited{
    color: white;
}
.area1 { grid-area: area1; }
.index { grid-area: index; }
.jovd { grid-area: jovd; }
.signup { grid-area: signup; }

.footer a{
    text-decoration: none;
    color: white;
}
.area1 img{
    width: 50%;
}
.links{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}